h1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.container {
    width: 100%;
}

body {
    background-image: url('../images/reallymakesyathink2.jpg');
}

.centeredContent{
    text-align: center;
    height: 200px;
    background-color: #d7c1fb;
}

.alignment{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

h3 {
    color: white;
    font-weight: strong;
    font-size: 30px;
}

p {
    background-color: black;
    color: white;
    font-weight: strong;
    font-size: 30px;
}

@media only screen and (min-width: 40em) {
    .centeredContent {
        height: 500px;
    }
}